In [1]:
import pandas as pd
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('data.csv')

C:\Users\valer\AppData\Local\Temp\ipykernel_11856\1507164070.py:1: DtypeWarning: Columns (7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data.csv')

In [3]:
df.info( show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3552912 entries, 0 to 3552911
Data columns (total 16 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   maker                3033997 non-null  object
 1   model                2419551 non-null  object
 2   mileage              3190328 non-null  float64
 3   manufacture_year     3182334 non-null  float64
 4   engine_displacement  2809498 non-null  float64
 5   engine_power         2998035 non-null  float64
 6   body_type            2429998 non-null  object
 7   color_slug           209501 non-null   object
 8   stk_year             536105 non-null   float64
 9   transmission         2811282 non-null  object
 10  door_count           2462846 non-null  float64
 11  seat_count           2265813 non-null  float64
 12  fuel_type            1705306 non-null  object
 13  date_created         3552912 non-null  object
 14  date_last_seen       3552912 non-null  object
 15  price_eur            3552912 non-null  float64
dtypes: float64(8), object(8)
memory usage: 433.7+ MB

In [4]:
null_percentage = df.isnull().mean() * 100
null_percentage

maker                  14.605343
model                  31.899495
mileage                10.205263
manufacture_year       10.430261
engine_displacement    20.924076
engine_power           15.617527
body_type              31.605455
color_slug             94.103400
stk_year               84.910828
transmission           20.873863
door_count             30.680918
seat_count             36.226594
fuel_type              52.002583
date_created            0.000000
date_last_seen          0.000000
price_eur               0.000000
dtype: float64

Eliminăm coloanele care au mai mult de 40% valori nule

In [5]:
columns_to_drop = null_percentage[null_percentage > 40].index
df_cleaned = df.drop(columns=columns_to_drop)

Eliminăm rândurile cu valori nule la coloanele rămase

In [6]:
df_cleaned = df_cleaned.dropna()

In [7]:
df_cleaned.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 907112 entries, 507 to 3550267
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   maker                907112 non-null  object
 1   model                907112 non-null  object
 2   mileage              907112 non-null  float64
 3   manufacture_year     907112 non-null  float64
 4   engine_displacement  907112 non-null  float64
 5   engine_power         907112 non-null  float64
 6   body_type            907112 non-null  object
 7   transmission         907112 non-null  object
 8   door_count           907112 non-null  float64
 9   seat_count           907112 non-null  float64
 10  date_created         907112 non-null  object
 11  date_last_seen       907112 non-null  object
 12  price_eur            907112 non-null  float64
dtypes: float64(7), object(6)
memory usage: 96.9+ MB

In [8]:
df = df_cleaned

In [9]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 907112 entries, 507 to 3550267
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   maker                907112 non-null  object
 1   model                907112 non-null  object
 2   mileage              907112 non-null  float64
 3   manufacture_year     907112 non-null  float64
 4   engine_displacement  907112 non-null  float64
 5   engine_power         907112 non-null  float64
 6   body_type            907112 non-null  object
 7   transmission         907112 non-null  object
 8   door_count           907112 non-null  float64
 9   seat_count           907112 non-null  float64
 10  date_created         907112 non-null  object
 11  date_last_seen       907112 non-null  object
 12  price_eur            907112 non-null  float64
dtypes: float64(7), object(6)
memory usage: 96.9+ MB

In [ ]:
if 'date_created' in df.columns and 'date_last_seen' in df.columns:
    df['date_created'] = pd.to_datetime(df['date_created'])
    df['date_last_seen'] = pd.to_datetime(df['date_last_seen'], errors='coerce')


    df['days_since_created'] = (df['date_last_seen'] - df['date_created']).dt.days

    df.drop(['date_created', 'date_last_seen'], axis=1, inplace=True)
else:
    print("Columns 'date_created' or 'date_last_seen' are missing!")

In [13]:
df =df.dropna()

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 907110 entries, 507 to 3550267
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   maker                907110 non-null  object
 1   model                907110 non-null  object
 2   mileage              907110 non-null  float64
 3   manufacture_year     907110 non-null  float64
 4   engine_displacement  907110 non-null  float64
 5   engine_power         907110 non-null  float64
 6   body_type            907110 non-null  object
 7   transmission         907110 non-null  object
 8   door_count           907110 non-null  float64
 9   seat_count           907110 non-null  float64
 10  price_eur            907110 non-null  float64
 11  days_since_created   907110 non-null  float64
dtypes: float64(8), object(4)
memory usage: 90.0+ MB

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import OneHotEncoder

In [ ]:
categorical_cols = ['maker', 'model', 'body_type', 'transmission']


numerical_cols = ['mileage', 'manufacture_year', 'engine_displacement', 'engine_power', 
                  'door_count', 'seat_count', 'days_since_created']


X = df.drop('price_eur', axis=1)
y = df['price_eur'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


preprocessor = ColumnTransformer(
    transformers=[
        ('num', RobustScaler(), numerical_cols),
        ('cat', OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1), categorical_cols)
    ])

In [ ]:

def evaluate_model(model, X_train, X_test, y_train, y_test):
 
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('model', model)
    ])
    
 
    pipeline.fit(X_train, y_train)
    
 
    y_pred = pipeline.predict(X_test)
    
   
    mae = mean_absolute_error(y_test, y_pred)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    threshold = 0.1
    accuracy = (abs(y_pred - y_test) / y_test < threshold).mean() * 100
    
    return mae, mse, r2, accuracy

In [ ]:
random_forest = RandomForestRegressor(n_estimators=100, random_state=42)

mae, mse, r2, accuracy = evaluate_model(random_forest, X_train, X_test, y_train, y_test)
print(f"RandomForest - MAE: {mae}, MSE: {mse}, R²: {r2}, Accuracy: {accuracy}%")

RandomForest - MAE: 2734.608515743675, MSE: 33018009183.01381, R²: -10.201459479310017, Accuracy: 54.334461458184045%

In [ ]:
svm = SVR(kernel='linear')

mae, mse, r2, accuracy = evaluate_model(svm, X_train, X_test, y_train, y_test)
print(f"SVM - MAE: {mae}, MSE: {mse}, R²: {r2}, Accuracy: {accuracy}%")

In [ ]:
linear_regression = LinearRegression()

mae, mse, r2, accuracy = evaluate_model(linear_regression, X_train, X_test, y_train, y_test)
print(f"LinearRegression - MAE: {mae}, MSE: {mse}, R²: {r2}, Accuracy: {accuracy}%")